.navbar-brand .mobile-logo{
    max-width: 40px;
}

.side_bar{
    padding-top: 60px;
}

.side_bar .side{
    background-color: #051E34;
}


.menu-list{
    list-style: none;
    font-size: 1rem;
    padding-inline: 0.5rem;
}

.side_menu a{
    text-decoration: none;
    color: white;
}

.side_menu:hover a{
    background-color: grey;
}

.content_badge .badge_pills{
    font-size: 0.6rem;
    background-color: #051E34;
}

.tabs-main{
    overflow: auto;
}

.actions-icon{
    padding: 0.2rem;
    border: 1px solid grey;
    color: grey;
    border-radius: 0.5rem;
}

.code{
    padding: 0.3rem 0.5rem;
    border-radius: 3rem;
    background-color: darkred;
    color: white;
}

.card-stats{
    margin-top: -300px;
}