.side_bar{
    padding-top: 60px;
}

.side_bar .side{
    background-color: #051E34;
}


.menu-list{
    list-style: none;
    font-size: 1.5rem;
    padding-inline: 1rem;
}

.menu-list .side_menu a{
    text-decoration: none;
    color: white;
}